[submodule "custom_nodes/sdxl_prompt_styler"]
	path = custom_nodes/sdxl_prompt_styler
	url = https://github.com/twri/sdxl_prompt_styler.git
[submodule "custom_nodes/ComfyUI-Impact-Pack"]
	path = custom_nodes/ComfyUI-Impact-Pack
	url = https://github.com/ltdrdata/ComfyUI-Impact-Pack.git
[submodule "custom_nodes/ComfyUI-Manager"]
	path = custom_nodes/ComfyUI-Manager
	url = https://github.com/ltdrdata/ComfyUI-Manager.git
[submodule "custom_nodes/comfyui-tooling-nodes"]
	path = custom_nodes/comfyui-tooling-nodes
	url = https://github.com/Acly/comfyui-tooling-nodes.git
